In [1]:
import malariagen_data

In [2]:
ag3 = malariagen_data.Ag3("simplecache::gs://vo_agam_release/", 
                          simplecache=dict(cache_storage="../gcs_cache"))

In [3]:
%%time
df = ag3.snp_effects("AGAP004707-RD", "gamb_colu")

CPU times: user 1min 21s, sys: 1.52 s, total: 1min 23s
Wall time: 6min 16s

In [4]:
%%time
df = ag3.snp_effects("AGAP004707-RD", "gamb_colu")

CPU times: user 1min 5s, sys: 235 ms, total: 1min 5s
Wall time: 1min 5s

In [27]:
f = g[g.ID == transcript].squeeze()

In [28]:
f.seqid

'3R'

In [25]:
sites = ag3.snp_sites(contig=f.seqid[0], site_mask="gamb_colu")

In [7]:
# gste2
transcript = "AGAP009194-RA"

In [4]:
feature, children, positions_df = ag3.snp_effects(transcript=transcript, site_mask=None)

In [5]:
feature

seqid                3R
source       VectorBase
type               mRNA
start          28597652
stop           28598640
score               NaN
strand                -
phase               NaN
parent_id    AGAP009194
Name                NaN
Name: AGAP009194-RA, dtype: object

In [6]:
children

,seqid,source,type,start,stop,score,strand,phase,feature_id,Name
parent_id,,,,,,,,,,
AGAP009194-RA,3R,VectorBase,three_prime_UTR,28597652,28597750,NaN,-,NaN,NaN,NaN
AGAP009194-RA,3R,VectorBase,exon,28597652,28598071,NaN,-,NaN,NaN,AGAP009194-RA-E3
AGAP009194-RA,3R,VectorBase,CDS,28597751,28598071,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,exon,28598162,28598362,NaN,-,NaN,NaN,AGAP009194-RA-E2
AGAP009194-RA,3R,VectorBase,CDS,28598162,28598362,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,CDS,28598437,28598580,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,exon,28598437,28598640,NaN,-,NaN,NaN,AGAP009194-RA-E1
AGAP009194-RA,3R,VectorBase,five_prime_UTR,28598581,28598640,NaN,-,NaN,NaN,NaN

In [7]:
positions_df

      position ref_allele alt_allele
0     28597652          G          A
1     28597652          G          C
2     28597652          G          T
3     28597653          A          C
4     28597653          A          T
...        ...        ...        ...
2962  28598639          C          T
2963  28598639          C          G
2964  28598640          G          A
2965  28598640          G          C
2966  28598640          G          T

[2967 rows x 3 columns]

In [8]:
positions_df.ref_allele = positions_df.ref_allele.str.upper()

In [9]:
positions_df

      position ref_allele alt_allele
0     28597652          G          A
1     28597652          G          C
2     28597652          G          T
3     28597653          A          C
4     28597653          A          T
...        ...        ...        ...
2962  28598639          C          T
2963  28598639          C          G
2964  28598640          G          A
2965  28598640          G          C
2966  28598640          G          T

[2967 rows x 3 columns]

In [11]:
exon  = children[children.type == "exon"].sort_values("start")

In [12]:
exon

,seqid,source,type,start,stop,score,strand,phase,feature_id,Name
parent_id,,,,,,,,,,
AGAP009194-RA,3R,VectorBase,exon,28597652,28598071,NaN,-,NaN,NaN,AGAP009194-RA-E3
AGAP009194-RA,3R,VectorBase,exon,28598162,28598362,NaN,-,NaN,NaN,AGAP009194-RA-E2
AGAP009194-RA,3R,VectorBase,exon,28598437,28598640,NaN,-,NaN,NaN,AGAP009194-RA-E1

In [23]:
exons = list(children[children.type == "exon"].sort_values("start").to_records(index=False))

In [24]:
exons

[('3R', 'VectorBase', 'exon', 28597652, 28598071, nan, '-', nan, nan, 'AGAP009194-RA-E3'),
 ('3R', 'VectorBase', 'exon', 28598162, 28598362, nan, '-', nan, nan, 'AGAP009194-RA-E2'),
 ('3R', 'VectorBase', 'exon', 28598437, 28598640, nan, '-', nan, nan, 'AGAP009194-RA-E1')]

In [16]:
records = list(exon.to_records(index=False))

In [18]:
records

[('3R', 'VectorBase', 'exon', 28597652, 28598071, nan, '-', nan, nan, 'AGAP009194-RA-E3'),
 ('3R', 'VectorBase', 'exon', 28598162, 28598362, nan, '-', nan, nan, 'AGAP009194-RA-E2'),
 ('3R', 'VectorBase', 'exon', 28598437, 28598640, nan, '-', nan, nan, 'AGAP009194-RA-E1')]

In [19]:
introns = [(x.stop + 1, y.start - 1) for x, y in zip(records[:-1], records[1:])]

In [20]:
introns

[(28598072, 28598161), (28598363, 28598436)]

In [22]:
test_int = [(x.stop + 1, y.start - 1) for x, y in zip(records[:-1], records[1:])]

,seqid,source,type,start,stop,score,strand,phase,feature_id,Name
parent_id,,,,,,,,,,
AGAP009194-RA,3R,VectorBase,exon,28597652,28598071,NaN,-,NaN,NaN,AGAP009194-RA-E3
AGAP009194-RA,3R,VectorBase,exon,28598162,28598362,NaN,-,NaN,NaN,AGAP009194-RA-E2
AGAP009194-RA,3R,VectorBase,exon,28598437,28598640,NaN,-,NaN,NaN,AGAP009194-RA-E1