In [1]:
import malariagen_data

In [2]:
ag3 = malariagen_data.Ag3("simplecache::gs://vo_agam_release/", 
                          simplecache=dict(cache_storage="../gcs_cache"))

In [6]:
geneset = ag3.geneset()

In [7]:
geneset.rename(columns={"ID":"feature_id", "Parent":"parent_id", "end":"stop"}, inplace=True)

In [8]:
geneset

,seqid,source,type,start,stop,score,strand,phase,feature_id,parent_id,Name
0,2L,VectorBase,chromosome,1,49364325,NaN,NaN,NaN,2L,NaN,NaN
1,2L,VectorBase,gene,157348,186936,NaN,-,NaN,AGAP004677,NaN,NaN
2,2L,VectorBase,mRNA,157348,181305,NaN,-,NaN,AGAP004677-RA,AGAP004677,NaN
3,2L,VectorBase,three_prime_UTR,157348,157495,NaN,-,NaN,NaN,AGAP004677-RA,NaN
4,2L,VectorBase,exon,157348,157623,NaN,-,NaN,NaN,AGAP004677-RA,AGAP004677-RB-E4
...,...,...,...,...,...,...,...,...,...,...,...
196140,Y_unplaced,VectorBase,five_prime_UTR,47932,48111,NaN,+,NaN,NaN,AGAP029375-RA,NaN
196141,Y_unplaced,VectorBase,exon,47932,48138,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E2
196142,Y_unplaced,VectorBase,CDS,48112,48138,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN
196143,Y_unplaced,VectorBase,exon,48301,48385,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E3
196144,Y_unplaced,VectorBase,CDS,48301,48385,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN

In [9]:
%%time
geneset = geneset[geneset.apply(lambda x :(x.stop - x.start) >0, axis=1)]

CPU times: user 3.95 s, sys: 20 ms, total: 3.97 s
Wall time: 3.97 s

In [10]:
geneset

,seqid,source,type,start,stop,score,strand,phase,feature_id,parent_id,Name
0,2L,VectorBase,chromosome,1,49364325,NaN,NaN,NaN,2L,NaN,NaN
1,2L,VectorBase,gene,157348,186936,NaN,-,NaN,AGAP004677,NaN,NaN
2,2L,VectorBase,mRNA,157348,181305,NaN,-,NaN,AGAP004677-RA,AGAP004677,NaN
3,2L,VectorBase,three_prime_UTR,157348,157495,NaN,-,NaN,NaN,AGAP004677-RA,NaN
4,2L,VectorBase,exon,157348,157623,NaN,-,NaN,NaN,AGAP004677-RA,AGAP004677-RB-E4
...,...,...,...,...,...,...,...,...,...,...,...
196140,Y_unplaced,VectorBase,five_prime_UTR,47932,48111,NaN,+,NaN,NaN,AGAP029375-RA,NaN
196141,Y_unplaced,VectorBase,exon,47932,48138,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E2
196142,Y_unplaced,VectorBase,CDS,48112,48138,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN
196143,Y_unplaced,VectorBase,exon,48301,48385,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E3
196144,Y_unplaced,VectorBase,CDS,48301,48385,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN

In [11]:
fi = geneset.set_index('feature_id')

In [14]:
fi.loc[transcript]

seqid                3R
source       VectorBase
type               mRNA
start          28597652
stop           28598640
score               NaN
strand                -
phase               NaN
parent_id    AGAP009194
Name                NaN
Name: AGAP009194-RA, dtype: object

In [15]:
ci = geneset.set_index('parent_id')

In [16]:
ci

,seqid,source,type,start,stop,score,strand,phase,feature_id,Name
parent_id,,,,,,,,,,
NaN,2L,VectorBase,chromosome,1,49364325,NaN,NaN,NaN,2L,NaN
NaN,2L,VectorBase,gene,157348,186936,NaN,-,NaN,AGAP004677,NaN
AGAP004677,2L,VectorBase,mRNA,157348,181305,NaN,-,NaN,AGAP004677-RA,NaN
AGAP004677-RA,2L,VectorBase,three_prime_UTR,157348,157495,NaN,-,NaN,NaN,NaN
AGAP004677-RA,2L,VectorBase,exon,157348,157623,NaN,-,NaN,NaN,AGAP004677-RB-E4
...,...,...,...,...,...,...,...,...,...,...
AGAP029375-RA,Y_unplaced,VectorBase,five_prime_UTR,47932,48111,NaN,+,NaN,NaN,NaN
AGAP029375-RA,Y_unplaced,VectorBase,exon,47932,48138,NaN,+,NaN,NaN,AGAP029375-RA-E2
AGAP029375-RA,Y_unplaced,VectorBase,CDS,48112,48138,NaN,+,0.0,AGAP029375-PA,NaN
AGAP029375-RA,Y_unplaced,VectorBase,exon,48301,48385,NaN,+,NaN,NaN,AGAP029375-RA-E3
AGAP029375-RA,Y_unplaced,VectorBase,CDS,48301,48385,NaN,+,0.0,AGAP029375-PA,NaN

In [ ]:
c

In [3]:
# gste2
transcript = "AGAP009194-RA"

In [4]:
children = ag3.snp_effects(transcript=transcript, site_mask=None)

In [5]:
children

,seqid,source,type,start,stop,score,strand,phase,feature_id,Name
parent_id,,,,,,,,,,
AGAP009194-RA,3R,VectorBase,three_prime_UTR,28597652,28597750,NaN,-,NaN,NaN,NaN
AGAP009194-RA,3R,VectorBase,exon,28597652,28598071,NaN,-,NaN,NaN,AGAP009194-RA-E3
AGAP009194-RA,3R,VectorBase,CDS,28597751,28598071,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,exon,28598162,28598362,NaN,-,NaN,NaN,AGAP009194-RA-E2
AGAP009194-RA,3R,VectorBase,CDS,28598162,28598362,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,CDS,28598437,28598580,NaN,-,0.0,AGAP009194-PA,NaN
AGAP009194-RA,3R,VectorBase,exon,28598437,28598640,NaN,-,NaN,NaN,AGAP009194-RA-E1
AGAP009194-RA,3R,VectorBase,five_prime_UTR,28598581,28598640,NaN,-,NaN,NaN,NaN