In [1]:
import malariagen_data
import numpy as np
ag3 = malariagen_data.Ag3("simplecache::gs://vo_agam_release/")

In [ ]:
import pandas as pd

In [32]:
df = ag3.sample_metadata()

In [38]:
df.country.unique()

array(['Angola', 'Burkina Faso', 'Democratic Republic of Congo',
       'Central African Republic', "Cote d'Ivoire", 'Cameroon', 'Mayotte',
       'Gabon', 'Ghana', 'Gambia, The', 'Guinea', 'Mali',
       'Equatorial Guinea', 'Guinea-Bissau', 'Kenya', 'Malawi',
       'Mozambique', 'Tanzania', 'Uganda'], dtype=object)

In [43]:
df[df.country == 'Mozambique'].month.unique()

array([ 2,  3,  4, 12])

In [55]:
populations = {
    "gm": "country == 'Gambia, The'",
    "mz": "country == 'Mozambique' and year == 2004"
#     "bf_bana_2012_col": "country == 'Burkina Faso' and year == 2012 and species == 'coluzzii'",
#     "bf_bana_2012_gam": "country == 'Burkina Faso' and year == 2012 and species == 'gambiae'",
}

#     "bf_bana_2012_col": "country='Burkina Faso' and year = 2012 and species = "coluzzii"",
#     "bf_bana_2012_gam": "country='Burkina Faso' and year = 2012 and species = "gambiae"",

In [ ]:
for pop, query in populations.items():
    print(pop, query)
    loc_pop = df.eval(query).values

In [ ]:
loc_pop

In [59]:
%%time
df = ag3.snp_allele_frequencies(transcript="AGAP004707-RD", 
                           populations=populations, 
                           site_mask='gamb_colu', 
                           sample_sets="v3_wild",
                           drop_invariants=False)

transcript : AGAP004707-RD
chromosome : 2L
start : 2358158
stop : 2431617
strand : +
CPU times: user 35.8 s, sys: 7.65 s, total: 43.4 s
Wall time: 6min 56s

In [63]:
df[40:80]

        pos ref_allele alt_allele        gm   mz   maximum
40  2358171          C          T  0.000000  0.0  0.000000
41  2358171          C          G  0.000000  0.0  0.000000
42  2358172          C          A  0.000000  0.0  0.000000
43  2358172          C          T  0.000000  0.0  0.000000
44  2358172          C          G  0.000000  0.0  0.000000
45  2358174          A          C  0.000000  0.0  0.000000
46  2358174          A          T  0.000000  0.0  0.000000
47  2358174          A          G  0.000000  0.0  0.000000
48  2358175          T          A  0.000000  0.0  0.000000
49  2358175          T          C  0.000000  0.0  0.000000
50  2358175          T          G  0.000000  0.0  0.000000
51  2358176          T          A  0.000000  0.0  0.000000
52  2358176          T          C  0.000000  0.0  0.000000
53  2358176          T          G  0.000000  0.0  0.000000
54  2358177          C          A  0.000000  0.0  0.000000
55  2358177          C          T  0.000000  0.0  0.000000
56  2358177          C          G  0.000000  0.0  0.000000
57  2358178          G          A  0.000000  0.0  0.000000
58  2358178          G          C  0.000000  0.0  0.000000
59  2358178          G          T  0.000000  0.0  0.000000
60  2358179          A          C  0.000000  0.0  0.000000
61  2358179          A          T  0.000000  0.0  0.000000
62  2358179          A          G  0.000000  0.0  0.000000
63  2358180          T          A  0.000000  0.0  0.000000
64  2358180          T          C  0.000000  0.0  0.000000
65  2358180          T          G  0.000000  0.0  0.000000
66  2358181          A          C  0.000000  0.0  0.000000
67  2358181          A          T  0.000000  0.0  0.000000
68  2358181          A          G  0.000000  0.0  0.000000
69  2358182          T          A  0.000000  0.0  0.000000
70  2358182          T          C  0.000000  0.0  0.000000
71  2358182          T          G  0.000000  0.0  0.000000
72  2358183          C          A  0.001792  0.0  0.001792
73  2358183          C          T  0.000000  0.0  0.000000
74  2358183          C          G  0.000000  0.0  0.000000
75  2358184          T          A  0.000000  0.0  0.000000
76  2358184          T          C  0.000000  0.0  0.000000
77  2358184          T          G  0.000000  0.0  0.000000
78  2358185          G          A  0.000000  0.0  0.000000
79  2358185          G          C  0.000000  0.0  0.000000

In [5]:
df.loc[16]

pos                   28597657
ref_allele                   C
alt_allele                   T
ke                           0
bf_bana_2012_col    0.00609756
maximum             0.00609756
Name: 16, dtype: object

In [ ]:
np.ndarray.flatten(afs['ke'][:,1:])

In [ ]:
afs['alt_allele']

In [ ]:
afs.loc["AGAP009194-RA"]

In [ ]:
afs[:10]

In [ ]:
list(populations)

In [ ]:
afs['dropping'] = afs[populations].sum(axis=1)

In [ ]:
afs

In [ ]:
afs[afs.dropping > 0]

In [ ]:
cols['ke']

In [ ]:
ac['bf_bana_2012_gam'].shape, ac['ke'].shape

In [ ]:
invar = ac['ke'][:,0] != 1

In [ ]:
ac['ke'] = ac['ke'].compress(invar, axis=0)

In [ ]:
len(ac['ke'])

In [ ]:
ac['ke']