In [1]:
import malariagen_data
import numpy as np
ag3 = malariagen_data.Ag3("gs://vo_agam_release/")

In [ ]:
import pandas as pd

In [ ]:
df = ag3.sample_metadata()

In [ ]:
df

In [2]:
populations = {
    "ke": "country == 'Kenya'",
    "bf_bana_2012_col": "country == 'Burkina Faso' and year == 2012 and species == 'coluzzii'",
#     "bf_bana_2012_gam": "country == 'Burkina Faso' and year == 2012 and species == 'gambiae'",
}

#     "bf_bana_2012_col": "country='Burkina Faso' and year = 2012 and species = "coluzzii"",
#     "bf_bana_2012_gam": "country='Burkina Faso' and year = 2012 and species = "gambiae"",

In [ ]:
for pop, query in populations.items():
    print(pop, query)
    loc_pop = df.eval(query).values

In [ ]:
loc_pop

In [3]:
%%time
afs = ag3.snp_allele_frequencies(transcript="AGAP009194-RA", 
                           populations=populations, 
                           site_mask='gamb_colu', 
                           sample_sets="v3_wild",
                           drop_invariants=True)

transcript : AGAP009194-RA
chromosome : 3R
start : 28597652
stop : 28598640
strand : -
CPU times: user 50.8 s, sys: 3.2 s, total: 54 s
Wall time: 2min 27s

In [4]:
afs[:10]

         pos ref_allele alt_allele        ke  bf_bana_2012_col
4   28597653          A          T  0.000000          0.006098
5   28597653          A          G  0.360465          0.317073
13  28597656          G          C  0.000000          0.006098
16  28597657          C          T  0.000000          0.006098
22  28597659          T          C  0.000000          0.006098
23  28597659          T          G  0.023256          0.054878
39  28597669          T          A  0.005814          0.006098
42  28597672          T          A  0.005882          0.012195
45  28597673          T          A  0.000000          0.012195
51  28597676          T          A  0.000000          0.012500

In [ ]:
list(populations)

In [ ]:
afs['dropping'] = afs[populations].sum(axis=1)

In [ ]:
afs

In [ ]:
afs[afs.dropping > 0]

In [ ]:
cols['ke']

In [ ]:
ac['bf_bana_2012_gam'].shape, ac['ke'].shape

In [ ]:
invar = ac['ke'][:,0] != 1

In [ ]:
ac['ke'] = ac['ke'].compress(invar, axis=0)

In [ ]:
len(ac['ke'])

In [ ]:
ac['ke']