In [1]:
import malariagen_data
import numpy as np
ag3 = malariagen_data.Ag3("simplecache::gs://vo_agam_release/")

In [ ]:
import pandas as pd

In [ ]:
df = ag3.sample_metadata()

In [ ]:
df

In [2]:
populations = {
    "ke": "country == 'Kenya'",
    "bf_bana_2012_col": "country == 'Burkina Faso' and year == 2012 and species == 'coluzzii'",
#     "bf_bana_2012_gam": "country == 'Burkina Faso' and year == 2012 and species == 'gambiae'",
}

#     "bf_bana_2012_col": "country='Burkina Faso' and year = 2012 and species = "coluzzii"",
#     "bf_bana_2012_gam": "country='Burkina Faso' and year = 2012 and species = "gambiae"",

In [ ]:
for pop, query in populations.items():
    print(pop, query)
    loc_pop = df.eval(query).values

In [ ]:
loc_pop

In [3]:
%%time
df = ag3.snp_allele_frequencies(transcript="AGAP009194-RA", 
                           populations=populations, 
                           site_mask='gamb_colu', 
                           sample_sets="v3_wild",
                           drop_invariants=True)

transcript : AGAP009194-RA
chromosome : 3R
start : 28597652
stop : 28598640
strand : -
CPU times: user 19.5 s, sys: 3.85 s, total: 23.4 s
Wall time: 2min 49s

In [4]:
df[:10]

   index       pos ref_allele alt_allele        ke  bf_bana_2012_col   maximum
0      4  28597653          A          T  0.000000          0.006098  0.006098
1      5  28597653          A          G  0.360465          0.317073  0.360465
2     13  28597656          G          C  0.000000          0.006098  0.006098
3     16  28597657          C          T  0.000000          0.006098  0.006098
4     22  28597659          T          C  0.000000          0.006098  0.006098
5     23  28597659          T          G  0.023256          0.054878  0.054878
6     39  28597669          T          A  0.005814          0.006098  0.006098
7     42  28597672          T          A  0.005882          0.012195  0.012195
8     45  28597673          T          A  0.000000          0.012195  0.012195
9     51  28597676          T          A  0.000000          0.012500  0.012500

In [ ]:
np.ndarray.flatten(afs['ke'][:,1:])

In [ ]:
afs['alt_allele']

In [ ]:
afs.loc["AGAP009194-RA"]

In [ ]:
afs[:10]

In [ ]:
list(populations)

In [ ]:
afs['dropping'] = afs[populations].sum(axis=1)

In [ ]:
afs

In [ ]:
afs[afs.dropping > 0]

In [ ]:
cols['ke']

In [ ]:
ac['bf_bana_2012_gam'].shape, ac['ke'].shape

In [ ]:
invar = ac['ke'][:,0] != 1

In [ ]:
ac['ke'] = ac['ke'].compress(invar, axis=0)

In [ ]:
len(ac['ke'])

In [ ]:
ac['ke']